/* Variáveis para */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Open Sans', 'Roboto', sans-serif ;
    box-sizing: border-box;

    --branco: #f1f1f1;
    --cinza: #ABB8C3;
    --cinza--escuro: #666666;
    --preto: #2e2e2e;
    --azul: #243E63;
    --verde: #004854;
    --vermelho: #CF2E2E;
}


/* Menu Principal*/
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    background-color: var(--cinza);
    padding: 16px;
    position: absolute;
    margin: 0%;
    list-style: none;
    padding: 40px;  
}

#menu li a {
    text-decoration: none;
    color: var(--vermelho);
    padding: 8px 12px;
    background-color: var(--verde);
}









#principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

#notificacoes{
    height: 50vh;
    background-color: var(--azul)
}


#formularioAcesso {
    height: 50vh;
    background-color: var(--vermelho);
}

#formulario{
    display: flex;
    flex-direction: column;
}












footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
    background-color: var(--verde);
    position: absolute;
    bottom: 0%;
}

#menuIdioma select {
    padding: 5px;
    font-size: 14px;
}